.comment
  .container
    .row
      .col-xs-12.col-sm-10.col-sm-offset-1.col-lg-8.col-lg-offset-2
        .heading.comment__heading!=content.index.comment.heading
  .container.container--size      
    .row    
      .col-xs-12
        .comment__slider
          .comment__item    
            .row
              .col-xs-12.col-sm-6.col-lg-5
                .comment__image
                  img.img-responsive(src='img/comment1.jpg' alt='автор')
              .col-xs-12.col-sm-6.col-lg-7
                .comment__box
                  .comment__author!=content.index.comment.slides.author
                  .comment__info!=content.index.comment.slides.info
                  .comment__text!=content.index.comment.slides.text
          .comment__item    
            .row
              .col-xs-12.col-sm-6.col-lg-5
                .comment__image
                  img.img-responsive(src='img/comment1.jpg' alt='автор')
              .col-xs-12.col-sm-6.col-lg-7
                .comment__box
                  .comment__author!=content.index.comment.slides.author
                  .comment__info!=content.index.comment.slides.info
                  .comment__text!=content.index.comment.slides.text
          .comment__item    
            .row
              .col-xs-12.col-sm-6.col-lg-5
                .comment__image
                  img.img-responsive(src='img/comment1.jpg' alt='автор')
              .col-xs-12.col-sm-6.col-lg-7
                .comment__box
                  .comment__author!=content.index.comment.slides.author
                  .comment__info!=content.index.comment.slides.info
                  .comment__text!=content.index.comment.slides.text
          .comment__item    
            .row
              .col-xs-12.col-sm-6.col-lg-5
                .comment__image
                  img.img-responsive(src='img/comment1.jpg' alt='автор')
              .col-xs-12.col-sm-6.col-lg-7
                .comment__box
                  .comment__author!=content.index.comment.slides.author
                  .comment__info!=content.index.comment.slides.info
                  .comment__text!=content.index.comment.slides.text                              
