.course
  .container
    .row
      .col-xs-12.col-sm-10.col-sm-offset-1.col-lg-6.col-lg-offset-2
        .heading.course__heading!=content.index.courses.heading
      .col-xs-12.col-sm-10.col-sm-offset-1.col-lg-6.col-lg-offset-2
        .subheading.course__subheading!=content.index.courses.subheading
    .row
      .col-xs-12.col-md-6
        .course__box      
          .row
            .col-xs-12.col-sm-5
              .course__image.course__image--1.course--height
            .col-xs-12.col-sm-7
              .course__info.course--height  
                .course__name!=content.index.courses.name1
                .course__details
                  .course__elem!=content.index.courses.details.detail1
                  .course__elem!=content.index.courses.details.detail2
                  .course__elem!=content.index.courses.details.detail3
                  .course__elem!=content.index.courses.details.detail4
                a.button.course__btn(href="#")
                  .button__text!=content.index.tagline.btn  
                    span.button__bord —  
      .col-xs-12.col-md-6
        .course__box      
          .row
            .col-xs-12.col-sm-5
              .course__image.course__image--2.course--height
            .col-xs-12.col-sm-7
              .course__info.course--height  
                .course__name!=content.index.courses.name2
                .course__details
                  .course__elem!=content.index.courses.details.detail5
                  .course__elem!=content.index.courses.details.detail6
                  .course__elem!=content.index.courses.details.detail7
                  .course__elem!=content.index.courses.details.detail8
                a.button.course__btn(href="#")
                  .button__text!=content.index.tagline.btn  
                    span.button__bord —              