.coworking
  .container
    .row
      .col-xs-12.col-sm-10.col-sm-offset-1.col-lg-8.col-lg-offset-2
        .heading.coworking__heading!=content.index.coworking.heading
      .col-xs-12.col-sm-10.col-sm-offset-1.col-lg-6.col-lg-offset-2
        .subheading.coworking__subheading!=content.index.coworking.subheading
  .container.container--size             
    .row
      .col-xs-12
        .coworking__slider.slider
          div
            .slider__item    
              .row
                .col-xs-12.col-sm-6
                  .slider__box
                    i.slider__icon.ic.ic--h1
                    .slider__text!=content.index.coworking.slider.text1 
                .col-xs-12.col-sm-6
                  .slider__image
                    img.img-responsive(src='img/slide1.jpg')
          div            
            .slider__item    
              .row
                .col-xs-12.col-sm-6
                  .slider__box
                    i.slider__icon.ic.ic--h2
                    .slider__text!=content.index.coworking.slider.text2 
                .col-xs-12.col-sm-6
                  .slider__image
                    img.img-responsive(src='img/slide1.jpg')
          div            
            .slider__item    
              .row
                .col-xs-12.col-sm-6
                  .slider__box
                    i.slider__icon.ic.ic--h3
                    .slider__text!=content.index.coworking.slider.text3 
                .col-xs-12.col-sm-6
                  .slider__image
                    img.img-responsive(src='img/slide1.jpg')
          div            
            .slider__item    
              .row
                .col-xs-12.col-sm-6
                  .slider__box
                    i.slider__icon.ic.ic--h4
                    .slider__text!=content.index.coworking.slider.text4 
                .col-xs-12.col-sm-6
                  .slider__image
                    img.img-responsive(src='img/slide1.jpg')                  