#description.description
  .container
    .row
      .col-xs-12
        ul.nav.nav-tabs.description__panel
          li.active.description__tab
            a(data-toggle='tab', href='#panel1') Описание
          li.description__tab
            a(data-toggle='tab', href='#panel2') Программа
          li.description__tab
            a(data-toggle='tab', href='#panel3') Отзывы и кейсы
          li.description__tab
            a(data-toggle='tab', href='#panel4') Расписание   
        .tab-content.tab
          #panel1.tab-pane.fade.in.active
            .row.description__row
              .col-xs-12.col-sm-6
                .tab__heading!=content.course.intro.tabs.heading1
                .tab__text!=content.course.intro.tabs.text1
              .col-xs-12.col-sm-6 
                .tab__video
                  //- iframe( src="https://www.youtube.com/embed/Rr8ljRgcJNM?autoplay=1&ecver=0&controls=0&iv_load_policy=3&mute=1&loop=1&playlist=Rr8ljRgcJNM&showinfo=0&modestbranding=1" frameborder="0" allowfullscreen)
                  .purpose__overlay
                .purpose__btn(data-toggle="modal" data-target="#video__course") 
                  #purpose__play.purpose__play.text-center
                    img.img-responsive(src='img/play.svg' alt='logo')
                  .purpose__text
                    span.purpose__item.purpose__item--1 У
                    span.purpose__item.purpose__item--2 з
                    span.purpose__item.purpose__item--3 н
                    span.purpose__item.purpose__item--4 а
                    span.purpose__item.purpose__item--5 й
                    span.purpose__item.purpose__item--6 т
                    span.purpose__item.purpose__item--7 е
                    span.purpose__item.purpose__item--8 
                    span.purpose__item.purpose__item--9 в
                    span.purpose__item.purpose__item--10 с
                    span.purpose__item.purpose__item--11 е 
                    span.purpose__item.purpose__item--12
                    span.purpose__item.purpose__item--13 о
                    span.purpose__item.purpose__item--14 
                    span.purpose__item.purpose__item--15 п
                    span.purpose__item.purpose__item--16 р
                    span.purpose__item.purpose__item--17 о
                    span.purpose__item.purpose__item--18 е
                    span.purpose__item.purpose__item--19 к
                    span.purpose__item.purpose__item--20 т
                    span.purpose__item.purpose__item--21 е
                    span.purpose__item.purpose__item--22 
                    span.purpose__item.purpose__item--23 з
                    span.purpose__item.purpose__item--24 а
                    span.purpose__item.purpose__item--25 
                    span.purpose__item.purpose__item--26 м
                    span.purpose__item.purpose__item--27 и
                    span.purpose__item.purpose__item--28 н
                    span.purpose__item.purpose__item--29 у
                    span.purpose__item.purpose__item--30 т
                    span.purpose__item.purpose__item--31 у      
          #panel2.tab-pane.fade
            .row.description__row
              .col-xs-12.col-sm-6
                .tab__heading!=content.course.intro.tabs.heading1
                .tab__text!=content.course.intro.tabs.text1
              .col-xs-12.col-sm-6 
                .tab__video
                  //- iframe( src="https://www.youtube.com/embed/Rr8ljRgcJNM?autoplay=1&ecver=0&controls=0&iv_load_policy=3&mute=1&loop=1&playlist=Rr8ljRgcJNM&showinfo=0&modestbranding=1" frameborder="0" allowfullscreen)
                  .purpose__overlay
                .purpose__btn(data-toggle="modal" data-target="#video__course") 
                  #purpose__play.purpose__play.text-center
                    img.img-responsive(src='img/play.svg' alt='logo')
                  .purpose__text
                    span.purpose__item.purpose__item--1 У
                    span.purpose__item.purpose__item--2 з
                    span.purpose__item.purpose__item--3 н
                    span.purpose__item.purpose__item--4 а
                    span.purpose__item.purpose__item--5 й
                    span.purpose__item.purpose__item--6 т
                    span.purpose__item.purpose__item--7 е
                    span.purpose__item.purpose__item--8 
                    span.purpose__item.purpose__item--9 в
                    span.purpose__item.purpose__item--10 с
                    span.purpose__item.purpose__item--11 е 
                    span.purpose__item.purpose__item--12
                    span.purpose__item.purpose__item--13 о
                    span.purpose__item.purpose__item--14 
                    span.purpose__item.purpose__item--15 п
                    span.purpose__item.purpose__item--16 р
                    span.purpose__item.purpose__item--17 о
                    span.purpose__item.purpose__item--18 е
                    span.purpose__item.purpose__item--19 к
                    span.purpose__item.purpose__item--20 т
                    span.purpose__item.purpose__item--21 е
                    span.purpose__item.purpose__item--22 
                    span.purpose__item.purpose__item--23 з
                    span.purpose__item.purpose__item--24 а
                    span.purpose__item.purpose__item--25 
                    span.purpose__item.purpose__item--26 м
                    span.purpose__item.purpose__item--27 и
                    span.purpose__item.purpose__item--28 н
                    span.purpose__item.purpose__item--29 у
                    span.purpose__item.purpose__item--30 т
                    span.purpose__item.purpose__item--31 у      
          #panel3.tab-pane.fade
            .row.description__row
              .col-xs-12.col-sm-6
                .tab__heading!=content.course.intro.tabs.heading1
                .tab__text!=content.course.intro.tabs.text1
              .col-xs-12.col-sm-6 
                .tab__video
                  //- iframe( src="https://www.youtube.com/embed/Rr8ljRgcJNM?autoplay=1&ecver=0&controls=0&iv_load_policy=3&mute=1&loop=1&playlist=Rr8ljRgcJNM&showinfo=0&modestbranding=1" frameborder="0" allowfullscreen)
                  .purpose__overlay
                .purpose__btn(data-toggle="modal" data-target="#video__course") 
                  #purpose__play.purpose__play.text-center
                    img.img-responsive(src='img/play.svg' alt='logo')
                  .purpose__text
                    span.purpose__item.purpose__item--1 У
                    span.purpose__item.purpose__item--2 з
                    span.purpose__item.purpose__item--3 н
                    span.purpose__item.purpose__item--4 а
                    span.purpose__item.purpose__item--5 й
                    span.purpose__item.purpose__item--6 т
                    span.purpose__item.purpose__item--7 е
                    span.purpose__item.purpose__item--8 
                    span.purpose__item.purpose__item--9 в
                    span.purpose__item.purpose__item--10 с
                    span.purpose__item.purpose__item--11 е 
                    span.purpose__item.purpose__item--12
                    span.purpose__item.purpose__item--13 о
                    span.purpose__item.purpose__item--14 
                    span.purpose__item.purpose__item--15 п
                    span.purpose__item.purpose__item--16 р
                    span.purpose__item.purpose__item--17 о
                    span.purpose__item.purpose__item--18 е
                    span.purpose__item.purpose__item--19 к
                    span.purpose__item.purpose__item--20 т
                    span.purpose__item.purpose__item--21 е
                    span.purpose__item.purpose__item--22 
                    span.purpose__item.purpose__item--23 з
                    span.purpose__item.purpose__item--24 а
                    span.purpose__item.purpose__item--25 
                    span.purpose__item.purpose__item--26 м
                    span.purpose__item.purpose__item--27 и
                    span.purpose__item.purpose__item--28 н
                    span.purpose__item.purpose__item--29 у
                    span.purpose__item.purpose__item--30 т
                    span.purpose__item.purpose__item--31 у      
          #panel4.tab-pane.fade
            .row.description__row
              .col-xs-12.col-sm-6
                .tab__heading!=content.course.intro.tabs.heading1
                .tab__text!=content.course.intro.tabs.text1
              .col-xs-12.col-sm-6 
                .tab__video
                  //- iframe( src="https://www.youtube.com/embed/Rr8ljRgcJNM?autoplay=1&ecver=0&controls=0&iv_load_policy=3&mute=1&loop=1&playlist=Rr8ljRgcJNM&showinfo=0&modestbranding=1" frameborder="0" allowfullscreen)
                  .purpose__overlay
                .purpose__btn(data-toggle="modal" data-target="#video__course") 
                  #purpose__play.purpose__play.text-center
                    img.img-responsive(src='img/play.svg' alt='logo')
                  .purpose__text
                    span.purpose__item.purpose__item--1 У
                    span.purpose__item.purpose__item--2 з
                    span.purpose__item.purpose__item--3 н
                    span.purpose__item.purpose__item--4 а
                    span.purpose__item.purpose__item--5 й
                    span.purpose__item.purpose__item--6 т
                    span.purpose__item.purpose__item--7 е
                    span.purpose__item.purpose__item--8 
                    span.purpose__item.purpose__item--9 в
                    span.purpose__item.purpose__item--10 с
                    span.purpose__item.purpose__item--11 е 
                    span.purpose__item.purpose__item--12
                    span.purpose__item.purpose__item--13 о
                    span.purpose__item.purpose__item--14 
                    span.purpose__item.purpose__item--15 п
                    span.purpose__item.purpose__item--16 р
                    span.purpose__item.purpose__item--17 о
                    span.purpose__item.purpose__item--18 е
                    span.purpose__item.purpose__item--19 к
                    span.purpose__item.purpose__item--20 т
                    span.purpose__item.purpose__item--21 е
                    span.purpose__item.purpose__item--22 
                    span.purpose__item.purpose__item--23 з
                    span.purpose__item.purpose__item--24 а
                    span.purpose__item.purpose__item--25 
                    span.purpose__item.purpose__item--26 м
                    span.purpose__item.purpose__item--27 и
                    span.purpose__item.purpose__item--28 н
                    span.purpose__item.purpose__item--29 у
                    span.purpose__item.purpose__item--30 т
                    span.purpose__item.purpose__item--31 у      

