.service
  .container
    .row
      .col-xs-12.col-sm-10.col-sm-offset-1.col-lg-7.col-lg-offset-2
        .heading.service__heading!=content.index.service.heading
      .col-xs-12.col-sm-10.col-sm-offset-1.col-lg-6.col-lg-offset-2
        .subheading.service__subheading!=content.index.service.subheading      
    .row
      .col-xs-12.col-sm-6.col-md-4
        .service__box
          .service__info
            .service__text!=content.index.service.info.text1
            .service__bg     
      .col-xs-12.col-sm-6.col-md-4
        .service__box
          .service__info
            .service__text!=content.index.service.info.text2 
            .service__bg     
      .col-xs-12.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-0
        .service__box
          .service__info
            .service__text!=content.index.service.info.text3
            .service__bg          